.flight-holder {
    padding: 0;

    li {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        padding: 10px;
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(odd) {
            background: lightgray;
        }
        &:nth-last-child(1) {
            margin-bottom: 50px;
        }
    }

    img {
        width: 100px;
        padding: 20px;        
    }

    .west-bound {
        transform: rotate(90deg);
    }

    .east-bound {
        transform: rotate(-90deg)
    }
}